/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.app {
  background-color: aqua;
}

h1 {
  /* I have added some margin and padding to the heading element to create more space and balance */
  margin: 2rem auto 6rem;
  padding: 1rem;
}

.product--image {
  width: 100%;
  height: 10em;
  border-radius: 7%;
  object-fit: cover;
}
.cardMain{ 
  margin-bottom: 30px; /* Adjust this value as per your preference */
}
.card {
  box-shadow: 2px;
  max-width: 320px;
  /* I have added some margin and padding to the card element to create more space and balance */
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: rgb(255, 255, 255);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 10%;
}
